# compiled output
dist
tmp

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings
.gitignore

# Ignore Mac DS_Store files
.DS_Store
.gradle


# Logs
logs
*.log
npm-debug.log

# env
local.yml
test.yml

node_modules